<h1 class="h1">Grants Browser</h1>

<h3>Select an option to search:</h3>

<form>
  <div>
    <div class="radio">
      <label for="s1" ><input name="radioGroup1" type="radio" id="s1" ng-click="setSearchField('title')" checked>By title</label>
    </div>
    <div class="radio">
      <label for="s2"><input name="radioGroup1" type="radio" id="s2" ng-click="setSearchField('reference')">By reference</label>
    </div>
    <div class="radio">
      <label for="s3"><input name="radioGroup1" type="radio" id="s3" ng-click="setSearchField('startDate')">By startDate</label>
    </div>
    <div class="radio">
      <label for="s4"><input name="radioGroup1" type="radio" id="s4"  ng-click="setSearchField('endDate')">By endDate</label>
    </div>
    <div class="radio">
      <label for="s5"><input name="radioGroup1" type="radio" id="s5" ng-click="setSearchField('type')">By type</label>
    </div>
    <div class="radio">
      <label for="s6"><input name="radioGroup1" type="radio" id="s6" ng-click="setSearchField('teamMembers')">By a team member</label>
    </div>
    <div class="radio">
      <label for="s7"><input name="radioGroup1" type="radio" id="s7" ng-click="setSearchField('leaders')">By a leader</label>
    </div>
    <div class="radio">
      <label for="s8"><input class="with-gap"  type="radio" id="s8" ng-click="setSearchField('fundingOrganizations')">By a funding organization</label>
    </div>
    
    <label for="grantInput">Search</label>
    <input class="form-control" type="text" id="grantInput" ng-model="searchValue" autofocus>
    </div>
    
    <button class="btn btn-primary" ng-click="searchWithFilter()">Search</button>
    
    <button class="btn btn-warning" ng-click="goToAllGrants()">Go to full grant list</button>
</form>
